body {
    background: url(../img/backgrounds/bg_2.png) center center no-repeat fixed;
    background-color: black;
    background-size: cover;
    overflow: hidden;
}

a, a:visited {
    color: white;
    font-size: 12px;
    font-family: rFont;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

/*----- Main Items -----*/

#time {
    color:white;
    font-size: 128px;
    font-family: geometos;
    font-weight: normal;
}

#calendar {
    color: white;
    font-family: century_gothic;
    font-size: 15px;
    width: 100px;
    height: 20px;
}

#menuButton, #menuButton:visited, #menuButton:active {
    background-color: transparent;
    background-image: url(../img/menu/menuButtonDefault.png);
    width: 20px;
    height: 20px;
    border: none;
    position: relative;
    top: 3.3px;
}

#menuButton:hover {
    background-image: url(../img/menu/menuButton_hover.png);
}

#menu {
    background-color: white;
    width: 300px;
    height: 378px;
    border: 10px solid white;
    border-radius: 12px;
    padding-bottom: 5px;
    position: absolute;
    right: 1%;
    top: 6%;
    overflow-y: auto;
}

/* ----- Menu Logos ----- */

#googleDocs {
    background-image: url(../img/menu/menuLogos/docsLogo.png);
}

#googleSlides {
    background-image: url(../img/menu/menuLogos/slidesLogo.png);
}

#googleForms {
    background-image: url(../img/menu/menuLogos/formsLogo.png);
}

#googleMenu {
    background-image: url(../img/menu/menuLogos/googleLogo.png);
}

#googleMaps {
    background-image: url(../img/menu/menuLogos/mapsLogo.png);
}

#googleTrans {
    background-image: url(../img/menu/menuLogos/translateLogo.png);
}

#youtubeMenu {
    background-image: url(../img/menu/menuLogos/youtubeLogo.png);
}

#driveMenu {
    background-image: url(../img/menu/menuLogos/driveLogo.png);
}

#photos {
    background-image: url(../img/menu/menuLogos/photosLogo.png);
}

#github {
    background-image: url(../img/menu/menuLogos/githubLogo.png);
}

#code {
    background-image: url(../img/menu/menuLogos/code.png);
}

#office {
    background-image: url(../img/menu/menuLogos/officeLogo.png);
}

#onedrive {
    background-image: url(../img/menu/menuLogos/onedriveLogo.png);
}

#teams {
    background-image: url(../img/menu/menuLogos/teams.png);
}

#outlook {
    background-image: url(../img/menu/menuLogos/outlookLogo.png);
}

#windscribe {
    background-image: url(../img/menu/menuLogos/windscribeLogo.png);
}

#crunchyroll {
    background-image: url(../img/menu/menuLogos/crollLogo.png);
}

#webStore {
    background-image: url(../img/menu/menuLogos/webStore.png);   
}

/* ----- Logo IDs ----- */

#youtubeLogo{
    background-image: url(../img/logos/youtubeLogo.png);
}

#redditLogo{
    background-image: url(../img/logos/redditLogo.png);
}

#discordLogo{
    background-image: url(../img/logos/discordLogo.png);
}

#driveLogo{
    background-image: url(../img/logos/driveLogo.png);
}

#gmailLogo{
    background-image: url(../img/logos/gmailLogo.png);
}

/* ----- Main Classes ----- */

.topHeader {
    width: 99%;
    height: 5%;
    text-align: right;
    position: absolute;
    top: 1%;
}

.topLinks {
    bottom: 1000px;
    display: inline-block;
}

.search {
    background-color: transparent;
    width: 400px;
    height: 40px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    border: 4px;
    border-color: white;
    border-style: solid;
    border-radius: 25px;
    outline: none;
}

.bar {
    background-color: transparent;
    color: white;
    width: 368px;
    height: 40px;
    position: absolute;
    margin-left: -32%;
    font-size: 24px;
    font-family: rFont;
    border: none;
    outline: none;
}

.submit {
    background: url(../img/search.png);
    background-size: 40px, 40px;
    background-position: center;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 105px;
    border: none;
    outline: none;
    display: inline-block;
}

.submit:hover {
    animation: fadeIn linear 0.18s 1 normal forwards;
}

.submit:not(:hover){
    animation: fadeOut linear 0.18s 1 normal forwards;
}

/* -------  Menu ------- */

.menuLogos {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 6px;
    border-radius: 16px;
    background-size: 64px, 64px;
    background-repeat: no-repeat;
    background-position: center;
}

.menuLogos:hover {
    background-color: #e8e8e8;
    border-color: #e8e8e8;
}

.footer {
    width: 98%;
    height: 3%;
    text-align: right;
    position: absolute;
    bottom: 2%;
}

.logos {
    display: inline-block;
    width: 112px;
    height: 112px;
    border-radius: 80px;
    border: 30px;
    border-color: transparent;
    background-size: 88px 88px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right:12px;
    margin-left: 12px;
    margin-bottom: 6px;
    margin-top: 10px;
}

.sideLogos {
    display: inline-block;
    width: 112px;
    height: 112px;
    border-radius: 80px;
    border: 30px;
    border-color: transparent;
    background-size: 80px 80px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right:12px;
    margin-left: 12px;
    margin-bottom: 6px;
    margin-top: 10px;
}

.logos:hover, .sideLogos:hover{
    background-color: #3b3b3b;
    border-color: #3b3b3b;
}

.dockImage {
    position: absolute;
    display: inline-block;
    width: auto;
    height: auto;
    left: 50%;
    bottom: 1%;
    background-color: #202020;
    opacity: 0;
    border: 3px;
    border-color: #5c5c5c;
    border-style: solid;
    border-radius: 100px;
    margin-bottom: 5px;
    margin-left: -346px;
}

.dockImage:hover {
    animation: fadeIn linear 0.3s 1 normal forwards;
}

.dockImage:not(:hover){
    animation: fadeOut linear 0.3s 1 normal forwards;
}

.startFade {
    animation: fadeIn ease 2s;
}

/* ----- Assets ----- */

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@font-face {
    font-family: century_gothic;
    src: url(../fonts/century_gothic.ttf);
}

@font-face {
    font-family: rFont;
    src: url(../fonts/rFont.ttf);
}

@font-face {
    font-family: geometos;
    src: url(../fonts/geometos.ttf);
}

/* ----- Others ----- */

#blank:hover {
    background-color: transparent;
    border: transparent;
}

#center {
    width: 630px;
    height: 115px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1.8%;
    position: relative;
}

.spacedLinks {
    position: relative;
    margin-left: 6px;
    margin-right: 6px;
    top: 9px;
}
